NEXT_PUBLIC_HESTIA_API_URL=http://127.0.0.1:8484/api/v1
NEXT_PUBLIC_SITE_URL=https://hestia.example.com
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=hestia-XXXXX.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=hestia-XXXXX
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=hestia-XXXXX.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=YYYYYY
NEXT_PUBLIC_FIREBASE_APP_ID=1:YYYYYY:web:7ebcb88b401c8588ad1896
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-GYX10203FX
